<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.ejemplo1"
        version   = "1.0.0">

<name>Ejemplo 1</name>
<description>Esto es la descripcion</description>
<author href="" email="diegoayas@gmail.com">Diego Ayas</author>
<icon src="razer.png" />
</widget>